* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a[name] {
    position: relative;
    &:hover {
        text-decoration: underline;
        &::before {
            content: ' \2693';
            position: absolute;
            right: 105%;
            display: block;  
            height: 30px;
            width: 30px;
            opacity: 0.5;
            transition: 0.5s;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: #be1622;
    }
}

.infinateSlider {
    margin: 0 auto;
    position: relative;
    height: 417px;
    width: 740px;
    margin-bottom: 15px;
    margin-top: 15px;
    .slider-wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 740px;
        height: 417px;
        .slider-content {
            width: 9999px;
            height: 417px;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;
            .img-wrapper {
                height: 417px;
                font-size: 14px;
                display: inline-block;
                transition: margin-left 0.3s ease;
                text-align: center;
                .slider-img {
                    display: block;
                    width: 740px;
                    height: auto;
                    margin: 0;
                }
           }
        }
    }
    .prev-img {
        width: 50px;
        font-size: 2.5em;
        position: absolute;
        left: 0;
        padding-left: 13px;
        bottom: 45%;
        color: #fff;
        opacity: 0.7;
        cursor: pointer;
        &:hover {
            opacity: 0.95;
            background: rgba(0, 0, 0, 0.4);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .next-img {
        width: 50px;
        font-size: 2.5em;
        position: absolute;
        right: 0;
        padding-left: 13px;
        bottom: 45%;
        color: #fff;
        opacity: 0.7;
        cursor: pointer;
        &:hover {
            opacity: 0.95;
            background: rgba(0, 0, 0, 0.4);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    .bullets {
        position: absolute;
        list-style: none;
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: 0;
        background: none;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
        li {
            padding-left: 5px;
            display: inline-block;
            color: #fff;
            font-size: 0.8em;
            opacity: 0.7;
            cursor: pointer;
            &:hover {
                opacity: 0.95;
            }
        }
    }
    .slide-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin: 0;
        text-align: center;
        color: #fff;
        opacity: 0;
    }
    .active {
        opacity: 1;
        transition: opacity 0.35s;
    }
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    .logo {
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        font-size: 1.6em;
        margin: 0;
        padding: 0 30px;
        span {
            color: #be1622;
        }
    }
    ul {
        width: 35%;
        padding: 0;
        margin: 0;
        li {
            padding: 0 15px 0 0;
            a {
                text-decoration: none;
                font-size: 1.1em;
                color: #696664;
                &:hover {
                    color: #be1622;
                }
            }
        }
        .active {
            a {
                color: #be1622;
            }
        }
    }
    .purchase {
        font-size: 1.05em;
        background: #fff;
        border-radius: 20px;
        border: 2px solid #f8e8e5;
        color: #cf656e;
        padding: 5px 10px;
        &:hover {
            background: #be1622;
            color: #fff;
            transition: 1s;
            border: none;
            border: 2px solid #ba1000;
        }
    }
    .login i,
    .search i {
        color: #8b8987;
        padding: 0 15px;
        font-size: 1.4em;
        &:hover {
            color: #646361;
        }
    }
    #weather {
        display: flex;
        align-items: cross-start;
        font-family: 'Catamaran', sans-serif;
        font-size: 0.9em;
        margin-right: 20px;
        div {
            &:first-child {
                text-align: right;
            }
            margin-right: 20px;
            text-align: left;
        }
        p {
            margin: 0;
        }
        #city {
            font-size: 1.3em;
        }
        .temp {
            font-size: 1.4em;
            color: #be1622;
        }
        #description {
            margin-top: -15px;
            text-align: right;
        }
        img {
            vertical-align: middle;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0;
        }
    }
}

nav p,
nav ul,
nav ul li,
.login,
.search {
    display: inline-block;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: #e1e0de;
    position: relative;
    .progress-bar-content {
        position: absolute;
        height: 4px;
        background: #b8d0b1;
        animation: reverseProgressBar 3s linear;
    }
}

@keyframes reverseProgressBar {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.hamburger {
    margin: 20px 0 0 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    i {
        font-size: 1.4em;
        color: #8b8987;
        line-height: 40px;
    }
    &:hover {
        background: rgb(236, 236, 236);
        border-radius: 50%;
    }
}

.clock {
    position: fixed;
    z-index: 10;
    background: #fff;
    border: 2px solid #cf656e;
    bottom: 80%;
    right: 0;
    padding: 5px 10px;
    p {
        text-align: center;
        margin: 0;
    }
}

.additional_block {
    background: #fff;
    border: 2px solid #cf656e;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.05em;
}

#hamburger-trigger {
    display: none;
    &:checked + aside {
        width: 0;
        transition: 0.2s;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            width: 300px;
        }
    }
    &:checked + aside .aside-content {
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
        }
    }
}

.main-container {
    display: flex;
    aside {
        width: 300px;
        background: #f5f2f0;
        border-right: 1px solid #c4c4c4;
        min-height: 700px;
        @media screen and (max-width: 1200px) {
            width: 0;
            overflow: hidden;
        }
        .aside-content {
            position: fixed;
            width: 249px;
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
        input[type="button"] {
            margin-top: 15px; 
            font-size: 1.05em;
            background: #fff;
            border: 2px solid #f8e8e5;
            color: #cf656e;
            padding: 5px 10px;
            &:hover {
                background: #be1622;
                color: #fff;
                transition: 1s;
                border: none;
                border: 2px solid #ba1000;
            }
        }
        input[type="text"] {
            margin: 10px 0; 
        }

        .github {
            a {
                text-decoration: none;
                color: #696664;
                &:hover {
                    text-decoration: underline;
                    color: #be1622;
                }
            }
        }
        section {
            padding: 0 30px;
            p {
                color: #c4c2c0;
                margin-bottom: 5px;
                font-size: 0.98em;
            }
            #timer {
                color: #000;
                padding: 5px 10px;
                border: 2px solid #cf656e;
            }
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                li {
                    padding: 5px 0;
                }
                a {
                    color: #696664;
                    text-decoration: none;
                }
            }
            .social-media {
                img {
                    height: 25px;
                    width: 25px;
                    margin: 10px 7px 0 0;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                        transition: 0.6s;
                    }
                }
            }
        }
    }
    .main-content {
        width: 100%;
        margin: 0 auto;
        section {
            margin-top: 30px;
            width: 100%;
            padding: 0 190px;
            min-height: calc(100vh - 70px);
            @media screen and (max-width: 1200px) {
                padding: 50px 10px 0 10px;
            }
        }
        .article {
            background: #f5f2f0;
            border-radius: 15px;
            padding: 20px;
            height: 180px;
            margin: 25px 0;
            opacity: 1;
            overflow: hidden;
            img {
                display: block;
                width: 130px;
                float: left;
                margin: 0 15px;
                opacity: 1;
            }
            p {
                opacity: 1;
                overflow: hidden;
            }
        }
        #mySection {
            .removed-img {
                transition: 2.5s;
                width: 0;

            }
            .removed-text {
                transition: 2.5s;
                opacity: 0;
            }
            .removed-box {
                transition: 2.5s;
                height: 0;
                // margin: 0;
                padding: 0;
            }
        }

        #gen-table {
            margin: 0 auto;
            border: 1px solid #000;
            tr {
                height: 30px;
                td {
                    width: 30px;
                    background: #cf656e;
                }
            
            }
        }
        blockquote {
            border: 3px solid #f7f4f3;
            border-radius: 10px;
            margin-left: 0;
            padding: 10px 25px;
            .info:before {
                content: " \2139";
                padding-right: 10px;
                font-size: 1.3em;
                color: #0083b3;
            }
            .warning:before {
                content: " \26A0";
                padding-right: 10px;
                font-size: 1.3em;
                color: #ffb200;
            }
        }
        img {
            width: 65%;
            height: auto;
            margin-left: 20px;
        }
        .important {
            border: 1px solid #dfdfd0;
            background: #f5f2f0;
            padding: 20px 25px;
        }
    }
    footer {
        margin-top: 100px;
        height: 70px;
        width: 100%;
        background: #fbfafa;
        border-top: 1px solid #f4f3f2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
    }
}