* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a[name] {
  position: relative;
}

a[name]:hover {
  text-decoration: underline;
}

a[name]:hover::before {
  content: ' \2693';
  position: absolute;
  right: 105%;
  display: block;
  height: 30px;
  width: 30px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #be1622;
}

.infinateSlider {
  margin: 0 auto;
  position: relative;
  height: 417px;
  width: 740px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.infinateSlider .slider-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 740px;
  height: 417px;
}

.infinateSlider .slider-wrapper .slider-content {
  width: 9999px;
  height: 417px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.infinateSlider .slider-wrapper .slider-content .img-wrapper {
  height: 417px;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
  text-align: center;
}

.infinateSlider .slider-wrapper .slider-content .img-wrapper .slider-img {
  display: block;
  width: 740px;
  height: auto;
  margin: 0;
}

.infinateSlider .prev-img {
  width: 50px;
  font-size: 2.5em;
  position: absolute;
  left: 0;
  padding-left: 13px;
  bottom: 45%;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.infinateSlider .prev-img:hover {
  opacity: 0.95;
  background: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.infinateSlider .next-img {
  width: 50px;
  font-size: 2.5em;
  position: absolute;
  right: 0;
  padding-left: 13px;
  bottom: 45%;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.infinateSlider .next-img:hover {
  opacity: 0.95;
  background: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.infinateSlider .bullets {
  position: absolute;
  list-style: none;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: none;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infinateSlider .bullets:hover {
  background: rgba(0, 0, 0, 0.4);
}

.infinateSlider .bullets li {
  padding-left: 5px;
  display: inline-block;
  color: #fff;
  font-size: 0.8em;
  opacity: 0.7;
  cursor: pointer;
}

.infinateSlider .bullets li:hover {
  opacity: 0.95;
}

.infinateSlider .slide-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: 0;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.infinateSlider .active {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 1.6em;
  margin: 0;
  padding: 0 30px;
}

nav .logo span {
  color: #be1622;
}

nav ul {
  width: 35%;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0 15px 0 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #696664;
}

nav ul li a:hover {
  color: #be1622;
}

nav ul .active a {
  color: #be1622;
}

nav .purchase {
  font-size: 1.05em;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #f8e8e5;
  color: #cf656e;
  padding: 5px 10px;
}

nav .purchase:hover {
  background: #be1622;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
  border: 2px solid #ba1000;
}

nav .login i,
nav .search i {
  color: #8b8987;
  padding: 0 15px;
  font-size: 1.4em;
}

nav .login i:hover,
nav .search i:hover {
  color: #646361;
}

nav #weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: cross-start;
      -ms-flex-align: cross-start;
          align-items: cross-start;
  font-family: 'Catamaran', sans-serif;
  font-size: 0.9em;
  margin-right: 20px;
}

nav #weather div {
  margin-right: 20px;
  text-align: left;
}

nav #weather div:first-child {
  text-align: right;
}

nav #weather p {
  margin: 0;
}

nav #weather #city {
  font-size: 1.3em;
}

nav #weather .temp {
  font-size: 1.4em;
  color: #be1622;
}

nav #weather #description {
  margin-top: -15px;
  text-align: right;
}

nav #weather img {
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
}

nav p,
nav ul,
nav ul li,
.login,
.search {
  display: inline-block;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #e1e0de;
  position: relative;
}

.progress-bar .progress-bar-content {
  position: absolute;
  height: 4px;
  background: #b8d0b1;
  -webkit-animation: reverseProgressBar 3s linear;
          animation: reverseProgressBar 3s linear;
}

@-webkit-keyframes reverseProgressBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes reverseProgressBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.hamburger {
  margin: 20px 0 0 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  z-index: 100;
}

.hamburger i {
  font-size: 1.4em;
  color: #8b8987;
  line-height: 40px;
}

.hamburger:hover {
  background: #ececec;
  border-radius: 50%;
}

.clock {
  position: fixed;
  z-index: 10;
  background: #fff;
  border: 2px solid #cf656e;
  bottom: 80%;
  right: 0;
  padding: 5px 10px;
}

.clock p {
  text-align: center;
  margin: 0;
}

.additional_block {
  background: #fff;
  border: 2px solid #cf656e;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.05em;
}

#hamburger-trigger {
  display: none;
}

#hamburger-trigger:checked + aside {
  width: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #hamburger-trigger:checked + aside {
    width: 300px;
  }
}

#hamburger-trigger:checked + aside .aside-content {
  display: none;
}

@media screen and (max-width: 1200px) {
  #hamburger-trigger:checked + aside .aside-content {
    display: block;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container aside {
  width: 300px;
  background: #f5f2f0;
  border-right: 1px solid #c4c4c4;
  min-height: 700px;
}

@media screen and (max-width: 1200px) {
  .main-container aside {
    width: 0;
    overflow: hidden;
  }
}

.main-container aside .aside-content {
  position: fixed;
  width: 249px;
}

@media screen and (max-width: 1200px) {
  .main-container aside .aside-content {
    display: none;
  }
}

.main-container aside input[type="button"] {
  margin-top: 15px;
  font-size: 1.05em;
  background: #fff;
  border: 2px solid #f8e8e5;
  color: #cf656e;
  padding: 5px 10px;
}

.main-container aside input[type="button"]:hover {
  background: #be1622;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
  border: 2px solid #ba1000;
}

.main-container aside input[type="text"] {
  margin: 10px 0;
}

.main-container aside .github a {
  text-decoration: none;
  color: #696664;
}

.main-container aside .github a:hover {
  text-decoration: underline;
  color: #be1622;
}

.main-container aside section {
  padding: 0 30px;
}

.main-container aside section p {
  color: #c4c2c0;
  margin-bottom: 5px;
  font-size: 0.98em;
}

.main-container aside section ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.main-container aside section ul li {
  padding: 5px 0;
}

.main-container aside section ul a {
  color: #696664;
  text-decoration: none;
}

.main-container aside section .social-media img {
  height: 25px;
  width: 25px;
  margin: 10px 7px 0 0;
  opacity: 0.5;
}

.main-container aside section .social-media img:hover {
  opacity: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main-container .main-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 90px;
}

.main-container .main-content section {
  margin-top: 30px;
  width: 100%;
  padding: 0 190px;
  min-height: calc(100vh - 70px);
}

@media screen and (max-width: 1200px) {
  .main-container .main-content section {
    padding: 50px 10px 0 10px;
  }
}

.main-container .main-content .article {
  background: #f5f2f0;
  border-radius: 15px;
  padding: 20px;
  height: 180px;
  margin: 25px 0;
  opacity: 1;
  overflow: hidden;
}

.main-container .main-content .article img {
  display: block;
  width: 130px;
  float: left;
  margin: 0 15px;
  opacity: 1;
}

.main-container .main-content .article p {
  opacity: 1;
  overflow: hidden;
}

.main-container .main-content #mySection .removed-img {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  width: 0;
}

.main-container .main-content #mySection .removed-text {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  opacity: 0;
}

.main-container .main-content #mySection .removed-box {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  height: 0;
  padding: 0;
}

.main-container .main-content #gen-table {
  margin: 0 auto;
  border: 1px solid #000;
}

.main-container .main-content #gen-table tr {
  height: 30px;
}

.main-container .main-content #gen-table tr td {
  width: 30px;
  background: #cf656e;
}

.main-container .main-content blockquote {
  border: 3px solid #f7f4f3;
  border-radius: 10px;
  margin-left: 0;
  padding: 10px 25px;
}

.main-container .main-content blockquote .info:before {
  content: " \2139";
  padding-right: 10px;
  font-size: 1.3em;
  color: #0083b3;
}

.main-container .main-content blockquote .warning:before {
  content: " \26A0";
  padding-right: 10px;
  font-size: 1.3em;
  color: #ffb200;
}

.main-container .main-content img {
  width: 65%;
  height: auto;
  margin-left: 20px;
}

.main-container .main-content .important {
  border: 1px solid #dfdfd0;
  background: #f5f2f0;
  padding: 20px 25px;
}

.main-container footer {
  position: fixed;
  bottom: 0;
  margin-top: 100px;
  height: 70px;
  width: 100%;
  background: #fbfafa;
  border-top: 1px solid #f4f3f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

.main-container footer #timer {
  margin: 0 10px;
  color: #000;
  padding: 5px 10px;
  border: 2px solid #cf656e;
}
/*# sourceMappingURL=style.css.map */