* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a[name] {
    position: relative;
    &:hover {
        text-decoration: underline;
        &::before {
            content: ' \2693';
            position: absolute;
            right: 105%;
            display: block;  
            height: 30px;
            width: 30px;
            opacity: 0.5;
            transition: 0.5s;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: #be1622;
    }
}

#slider-wrapper {
    margin: 0 auto;
    position: relative;
    height: 417px;
    max-width: 740px;
    overflow: hidden;
    .slider {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        max-width: 740px;
        position: relative;
        .img-wrapper {
            position: absolute;
            transition: 0.3s ease;
            opacity: 0;
            text-align: center;
            width: 100%;
            transform: translate(800px, 0);
            &.active {
                opacity: 1;
                transform: translate(0, 0);
            }
            // &.non-active {
            //     opacity: 0;
            //     transform: translate(-800px, 0);
            // }
            .slider-img {
                width: 100%;
                margin: 0;
            }
       }
    }
    .prev-img {
        // width: 50px;
        font-size: 2.5em;
        position: absolute;
        left: 2%;
        bottom: 45%;
    }
    .next-img {
        // width: 50px;
        font-size: 2.5em;
        position: absolute;
        right: 2%;
        bottom: 45%;
    }
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    .logo {
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        font-size: 1.6em;
        margin: 0;
        padding: 0 30px;
        span {
            color: #be1622;
        }
    }
    ul {
        width: 65%;
        padding: 0;
        margin: 0;
        li {
            padding: 0 15px 0 0;
            a {
                text-decoration: none;
                font-size: 1.1em;
                color: #696664;
                &:hover {
                    color: #be1622;
                }
            }
        }
        .active {
            a {
                color: #be1622;
            }
        }
    }
    .purchase {
        font-size: 1.05em;
        background: #fff;
        border-radius: 20px;
        border: 2px solid #f8e8e5;
        color: #cf656e;
        padding: 5px 10px;
        &:hover {
            background: #be1622;
            color: #fff;
            transition: 1s;
            border: none;
            border: 2px solid #ba1000;
        }
    }
    .login i,
    .search i {
        color: #8b8987;
        padding: 0 15px;
        font-size: 1.4em;
        &:hover {
            color: #646361;
        }
    }
}

nav p,
nav ul,
nav ul li,
.login,
.search {
    display: inline-block;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: #e1e0de;
}

.hamburger {
    margin: 20px 0 0 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    i {
        font-size: 1.4em;
        color: #8b8987;
        line-height: 40px;
    }
    &:hover {
        background: rgb(236, 236, 236);
        border-radius: 50%;
    }
}

.clock {
    position: fixed;
    z-index: 10;
    background: #fff;
    border: 2px solid #cf656e;
    bottom: 80%;
    right: 0;
    padding: 5px 10px;
    p {
        text-align: center;
        margin: 0;
    }
}

#window-resize {
    background: #fff;
    border: 2px solid #cf656e;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.05em;
}

#hamburger-trigger {
    display: none;
    &:checked + aside {
        width: 0;
        transition: 0.2s;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            width: 300px;
        }
    }
    &:checked + aside .aside-content {
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
        }
    }
}

.main-container {
    display: flex;
    aside {
        width: 300px;
        background: #f5f2f0;
        border-right: 1px solid #c4c4c4;
        min-height: 700px;
        @media screen and (max-width: 1200px) {
            width: 0;
            overflow: hidden;
        }
        .aside-content {
            position: fixed;
            width: 249px;
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
        input[type="button"] {
            margin-top: 15px; 
            font-size: 1.05em;
            background: #fff;
            border: 2px solid #f8e8e5;
            color: #cf656e;
            padding: 5px 10px;
            &:hover {
                background: #be1622;
                color: #fff;
                transition: 1s;
                border: none;
                border: 2px solid #ba1000;
            }
        }
        input[type="text"] {
            margin: 10px 0; 
        }

        .github {
            a {
                text-decoration: none;
                color: #696664;
                &:hover {
                    text-decoration: underline;
                    color: #be1622;
                }
            }
        }
        section {
            padding: 0 30px;
            p {
                color: #c4c2c0;
                margin-bottom: 5px;
                font-size: 0.98em;
            }
            #timer {
                color: #000;
                padding: 5px 10px;
                border: 2px solid #cf656e;
            }
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                li {
                    padding: 5px 0;
                }
                a {
                    color: #696664;
                    text-decoration: none;
                }
            }
            .social-media {
                img {
                    height: 25px;
                    width: 25px;
                    margin: 10px 7px 0 0;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                        transition: 0.6s;
                    }
                }
            }
        }
    }
    .main-content {
        width: 100%;
        margin: 0 auto;
        section {
            margin-top: 30px;
            width: 100%;
            padding: 0 190px;
            min-height: calc(100vh - 70px);
            @media screen and (max-width: 1200px) {
                padding: 50px 10px 0 10px;
            }
        }
        #gen-table {
            margin: 0 auto;
            border: 1px solid #000;
            tr {
                height: 30px;
                td {
                    width: 30px;
                    background: #cf656e;
                }
            
            }
        }
        blockquote {
            border: 3px solid #f7f4f3;
            border-radius: 10px;
            margin-left: 0;
            padding: 10px 25px;
            .info:before {
                content: " \2139";
                padding-right: 10px;
                font-size: 1.3em;
                color: #0083b3;
            }
            .warning:before {
                content: " \26A0";
                padding-right: 10px;
                font-size: 1.3em;
                color: #ffb200;
            }
        }
        img {
            width: 65%;
            height: auto;
            margin-left: 20px;
        }
        .important {
            border: 1px solid #dfdfd0;
            background: #f5f2f0;
            padding: 20px 25px;
        }
    }
    footer {
        margin-top: 100px;
        height: 70px;
        width: 100%;
        background: #fbfafa;
        border-top: 1px solid #f4f3f2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
    }
}